# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env

# Google API
linksheet.json

# Virtual environment
.venv/
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db
